<div class="forgot-password-container">
  <div class="flex">
    <div> <img src="assets/logo.png" alt="Workstatus Logo" class="logo" /></div>
 <div>  
 
  <h2> Login To Admin</h2>
  <p>Enter your email address to receive a OTP for admin login.</p>

  <form (ngSubmit)="sendEmail()">
    <mat-form-field appearance="fill">
      <mat-label>Email Address</mat-label>
      <input matInput type="email" [(ngModel)]="email" name="email" required email />
    </mat-form-field>


    <mat-form-field *ngIf="isOTPSEND" appearance="fill">
      <mat-label>OTP</mat-label>
      <input matInput type="text" [(ngModel)]="userOTP" name="otp" required />
    </mat-form-field>

    <div class="loading" *ngIf="isLoading">Sending password reset email...</div>

    <button *ngIf="!isOTPSEND" mat-raised-button color="primary" type="submit" [disabled]="isLoading">
      Send Reset Link
    </button>

   
  </form>

  <button mat-raised-button color="primary" (click)="varifyOTP()" *ngIf="isOTPSEND"  >
    Verify OTP
  </button>
  <p>Remembered your password? <a routerLink="/login">Login</a></p>
</div>
